@mixin split-left-border() {
	border: none;
	border-radius: 0;

	border-top: 1px solid rgba($clr-split-btn-border, 0.3);
	border-bottom: 1px solid rgba($clr-split-btn-border, 0.3);
	border-left: 1px solid rgba($clr-split-btn-border, 0.3);
	@if ($useRoundedCorners) {
		border-radius: $btn-rounded 0 0 $btn-rounded;
	} @else {
		border-radius: $btn-squared 0 0 $btn-squared;
	}
}

@mixin split-right-border() {
	border: none;
	border-radius: 0;

	border-top: 1px solid rgba($clr-split-btn-border, 0.3);
	border-bottom: 1px solid rgba($clr-split-btn-border, 0.3);
	border-right: 1px solid rgba($clr-split-btn-border, 0.3);
	@if ($useRoundedCorners) {
		border-radius: 0 $btn-rounded $btn-rounded 0;
	} @else {
		border-radius: 0 $btn-squared $btn-squared 0;
	}
}

@mixin container() {
	padding: 0 calc(50% - 42rem);
}
