// colors
$clr-white: #fff;
$clr-black: #000;

$clr-blue: #528dc7;
$clr-dark-blue: #145390;
$clr-gray: #d6d6d6;
$clr-gray-2: #f5f5f5;
$clr-gray-3: #efefef;
$clr-dark: #1a1a22;
$clr-semi-dark: #282831;

//Border
$clr-split-btn-border: #c4c4c4;
$clr-split-btn-divider: #616d79;

//Bools
$useRoundedCorners: true; //changes style of buttons and other elements

//borders
$btn-rounded: 100px;
$btn-squared: 4px;
