#describe-task {
	position: relative;
	@include container();
	padding-top: 6.64rem;
	padding-bottom: 6.43rem;
	background: $clr-light-bg;
	border-bottom: 1px solid rgba($clr-black, 0.1);
}

.describe-title {
	text-transform: uppercase;
	font-size: 2.14rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	width: 42rem;
	line-height: 1.5;
}

.describe-items {
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.63rem;
}

.describe-item {
	margin-top: 2.28rem;
	flex: 0 50%;
	display: flex;
	align-items: center;
	img {
		width: 1.78rem;
		height: 1.78rem;
	}
	p {
		min-width: 14.28rem;
		margin-left: 1.86rem;
		font-size: 1.21rem;
		line-height: 1.47;
		font-weight: 400;
	}
}

.describe-button-section {
	button {
		font-weight: 700;
		font-size: 1rem;
		text-transform: uppercase;
		padding: 1.43rem 2.93rem;
	}
	display: flex;
	margin-top: 5rem;
	.button-info {
		margin-left: 2rem;
		width: 18.14rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5;
		opacity: 0.5;
	}
}

.describe-girl {
	.person-card {
		position: absolute;
		top: 57%;
		left: 61%;
	}

	.girl {
		position: absolute;
		width: 31.9rem;
		height: 47rem;
		left: 60%;
		bottom: 0;
	}
}
@media (max-width: 767.98px) {
	#describe-task {
		overflow-x: hidden;
		padding-bottom: 0;
	}
	.describe-title {
		width: 90%;
		font-size: 24px;
	}
	.describe-items {
		flex-direction: column;
		width: 100%;
	}
	.describe-item {
		p {
			margin-left: 10%;
			font-size: 16px;
		}
		img {
			min-width: 40px;
			height: auto;
		}
	}

	.describe-girl {
		max-width: 320px;
		position: absolute;
		bottom: 0;
		right: -20%;
		.person-card {
			position: absolute;
			left: -30%;
			.person-card-name {
				padding: 8px 16px;
				font-size: 16px;
			}
			.person-card-role {
				padding: 4px 0;
				font-size: 12px;
			}
			left: 0;
			bottom: 0;
		}

		.girl {
			top: 0;
			right: -30%;
			width: 80%;
			height: auto;
			position: unset;
		}
	}
	.describe-button-section {
		flex-direction: column;
		.btn {
			// height: unset;
			// padding: 8px 16px;
			font-size: 16px;
			max-width: 320px;
		}
		.button-info {
			margin-top: 10px;
			width: 100%;
			// width: 30%;
			font-size: 12px;
		}
	}
}
@media (max-width: 540px) {
	.describe-girl {
		position: relative;
	}
}
