#header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	// max-width: 1920px;
	width: 100%;
	// left: 0;
	// right: 0;
	// margin: 3.7rem auto;
	padding: 3.7rem 5.2rem;
	color: $clr-white;
}

.logo-info {
	position: relative;
	display: flex;
}

.logo {
	cursor: pointer;
	width: 7rem;
	img {
		width: 100%;
		height: auto;
	}
}

.logo-text {
	margin-left: 1.57rem;
	width: 11rem;
	line-height: 1.46rem;
	font-size: 1.07rem;
	font-weight: 400;
}

.logo-header-mobile {
	display: none;
}
#header-nav {
	margin-left: 3.92rem;
}

.nav-links {
	display: flex;
	align-items: center;
	li {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		line-height: 1.36;
		letter-spacing: 0.15em;
		margin-left: 3.07rem;
		&:first-child {
			margin: 0;
		}
		white-space: nowrap;
		a:hover {
			text-shadow: 1px 2px 5px $clr-white;
		}
	}
}
// BIG submenu
.toggle-services {
	.submenu-wrapper {
		visibility: hidden;
		position: absolute;
		// top: 7rem;
		left: 0;
		width: 100%;
		height: auto;
		padding-top: 8rem;
	}
	img {
		transition: all 0.2s ease-out;
	}
	&:hover {
		.toggle-link {
			transition: all 0.2s linear;
			text-shadow: 1px 2px 5px $clr-white;
		}
		.submenu-wrapper {
			display: block;
			visibility: visible;
		}
		// display: block;
		.submenu {
			visibility: visible;
			opacity: 1;
		}
		img {
			transform: rotate(180deg) translateY(1px);
		}
	}
	.submenu {
		overflow-x: hidden;
		// padding-bottom: 4.07rem;
		background: $clr-white;
		width: 100%;
		// height: 29.7rem;
		position: absolute;
		left: 0;
		top: 90%;
		opacity: 0;
		visibility: hidden;
	}
	// top
	.submenu-top {
		display: flex;
		border-bottom: 1px solid rgba($clr-black, 0.1);
		height: 5.43rem;
		width: 100%;
		color: rgba($clr-black, 0.5);
	}
	.submenu-links {
		padding: 0 5% 0 10%;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		li {
			letter-spacing: 0.02em;
			&:first-child {
				margin-left: 0;
			}
			font-weight: 600;
			// margin-left: 5rem;
			font-size: 1rem;
		}
		a {
			&::after {
				opacity: 0;
				transition: 0.3s ease-out;
				left: 0;
				bottom: 0;
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background: $clr-blue;
			}
			padding: 2rem 0;
			position: relative;
			transition: 0.3s ease-out;
			&:hover {
				&::after {
					opacity: 1;
				}
				color: $clr-blue;
			}

			&.submenu-active {
				&::after {
					opacity: 1;
				}
				color: $clr-blue;
			}
		}
	}
	// main
	// left
	.submenu-bottom {
		margin-top: 3rem;
		margin-left: 20rem;
		display: flex;
		// justify-content: space-between;
		li {
			margin: 0;
			color: rgba($clr-black, 0.5);
			&:hover {
				color: $clr-blue;
			}
		}
	}
	.submenu-main {
		ul {
			li {
				margin-top: 1rem;
				a {
					transition: all 0.3s ease-out;
					border-bottom: 1px solid rgba($clr-black, 0.1);
					&:hover {
						color: $clr-blue;
						border-color: $clr-blue;
					}
				}
			}
		}
		display: flex;
	}
	.submenu-first-group {
		h2 {
			font-size: 1.07rem;
			padding-bottom: 1rem;
			color: $clr-black;
		}
		ul {
			height: 70%;
			width: 34.14rem;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

			li {
				margin-right: 5rem;
			}
		}
	}
	.submenu-second-group {
		margin-left: 8rem;
		h2 {
			font-size: 1.07rem;
			padding-bottom: 1rem;
			color: $clr-black;
		}
	}
	// right
	.submenu-right {
		height: 90%;
		padding-bottom: 2rem;
		border-left: 1px solid rgba($clr-black, 0.1);
		padding-left: 4.57rem;
		margin-left: 4.57rem;
		h1 {
			font-size: 1.71rem;
			white-space: normal;
			width: 28rem;
			color: $clr-black;
		}
		p {
			margin-top: 1.57rem;
			white-space: normal;
			font-size: 1rem;
			width: 40rem;
			color: $clr-black;
		}
		button {
			margin-top: 2.64rem;
			padding: 1rem 2.28rem;
		}
	}
}
// end of BIG submenu

// Submenu
.toggle-clients {
	z-index: 1000;
	position: relative;
	.clients-submenu {
		border-radius: 1rem;
		background: $clr-white;
		transform: translateY(-20%);
		position: absolute;
		transition: visibility 0s, transform 0.5s, opacity 0.8s ease-out;
		visibility: hidden;
		opacity: 0;
		line-height: 2.64rem;
		padding: 1.64rem 2.3rem;
		text-align: left;
		color: $clr-black;
		li {
			text-shadow: none;
			margin: 0 0 1.8rem 0;
			&:last-child {
				margin: 0;
			}
			a:hover {
				transition: all 0.1s ease-out;
				color: $clr-blue;
			}
		}
	}
	.submenu-wrapper {
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		padding-top: 1rem;
	}
	img {
		transition: all 0.2s ease;
	}
	&:hover {
		display: block;
		a {
			transition: all 0.2s linear;
			text-shadow: 1px 2px 5px $clr-white;
		}

		img {
			transform: rotate(180deg) translateY(1px);
		}
		.clients-submenu {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
		}
	}
}

// end of Submenu

// search

.search-btn {
	margin-left: 3.92rem;
	min-width: 8px;
	width: 1.57rem;
	height: 1.57rem;

	img {
		cursor: pointer;
		width: 100%;
		height: auto;
	}
}

.search-dropdown {
	position: absolute;
	left: 0;
	width: 100%;
	transform: translateY(-2rem);
	opacity: 0;
	visibility: hidden;
}

#search-form {
	margin-top: 4.3rem;
	display: flex;
	align-items: center;
	input {
		font-size: 1.3rem;
		position: absolute;
		outline: none;
		padding: 0.35rem 27.7rem;
		height: 5rem;
		width: 100%;
		&::placeholder {
			font-size: 1.3rem;
			color: rgba($clr-black, 0.3);
			text-transform: uppercase;
		}
	}
	button {
		font-size: 1.28rem;
		position: absolute;
		margin: 0 70%;
	}
}

.show {
	transition: all 0.3s linear;
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
//end of search

.toggle-phone {
	margin-left: 3.92rem;
}

.active-phone {
	white-space: nowrap;
}
.phone-info {
	font-size: 0.86rem;
	font-family: "Gilroy";
}

.phone-wrapper {
	display: flex;
	align-items: center;
	img {
		cursor: pointer;
	}
}

.phone-number {
	font-size: 1.7rem;
	font-weight: 600;
}
// phone-card
#phone-toggle-info,
#phone-toggle {
	transition: all 0.3s ease-out;
}

#header {
	.hide {
		opacity: 0;
		visibility: hidden;
	}
	.phone-card {
		transition: all 0.5s ease-out;
		visibility: hidden;
		opacity: 0;
		transform: translate(-2rem, -5rem);
		position: absolute;
		color: $clr-black;
		border-radius: 0.22rem;
		background: $clr-white;
		width: 18.36rem;
		height: 32.28rem;
		padding: 1.28rem 0 1.28rem 0;
		.phone-card-divider {
			height: 1px;
			background: rgba($clr-black, 0.1);
		}
		.phone-links {
			display: block;
		}
		.phone-info,
		.phone-number {
			color: $clr-black;
		}
		.msg-links {
			width: 90%;
			gap: 1rem;
		}
		.msg-link {
			border: none;
			padding: 0;
			font-size: 0.88rem;
			a {
				margin-left: 0.36rem;
			}
			img {
				width: 0.86rem;
				height: 0.86rem;
			}
		}
		.work-info {
			color: rgba($clr-black, 0.5);
			width: 71%;
			white-space: normal;
		}

		.belarus-work {
			width: 75%;
			margin-top: 0.5rem;
			background: $clr-belarus-bg;
			.belarus-info {
				margin-left: 0.5rem;
			}
			img {
				border-radius: 50%;
			}
		}
	}
	// end of phone-card
	.active {
		opacity: 1;
		visibility: visible;
	}

	.split-btn {
		margin-left: 3.92rem;
	}

	//
	.angle-down {
		width: 0.9rem;
		height: auto;
		margin-left: 0.36rem;
	}
}

// Media
@media (max-width: 1439px) {
	.project-calculation {
		button {
			font-size: 9px;
		}
	}
	.search-btn {
		margin: 0 0 0 1rem;
	}
	#header {
		padding: 2rem 1%;
		// padding: 0;
	}
	.phone-info {
		font-size: 7px;
	}
	#header-nav {
		li {
			font-size: 9px;
		}
	}
	.submenu {
		h1,
		h2 {
			font-size: 14px !important;
		}
		p {
			height: auto;
			font-size: 9px !important;
		}
	}
}

.burger-header {
	box-sizing: 5px 5px 5px $clr-black;
	display: none;
	right: 5%;
	top: 4rem;
}

@media (max-width: 1199.98px) {
	#header-nav {
		margin-left: 1.5rem;
	}
	.toggle-services {
		.submenu-second-group {
			margin-left: 20rem;
		}
	}
}
@media (max-width: 1023.9px) {
	.toggle-services {
		.submenu-second-group {
			margin-left: 24rem;
		}
		.submenu-links {
			padding: 0 1%;
		}
		.submenu-bottom {
			margin-left: 1%;
		}
	}
	.nav-links {
		li {
			margin-left: 1.7rem;
		}
	}
	.logo-text {
		display: none;
	}
}

// mobile
@media (max-width: 767.98px) {
	.logo-info {
		display: none;
	}
	.logo-header-mobile {
		display: flex;
		position: absolute;
		left: 5%;
		top: 5rem;
		.logo-info {
			display: flex;
			align-items: center;
		}
		.logo {
			width: 50px;
		}

		.logo-text {
			color: $clr-white;
			margin-left: 20px;
			line-height: 1;
			font-size: 12px;
			width: 140px;
			display: block;
		}
	}
	#header {
		// overflow-y: visible;
		// overflow-x: hidden;
		padding: 0;
		z-index: 5;
		transition: all 0.4s ease-in;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		// background: darken(black, 0.4);
		background: rgba($clr-dark, 0.99);
		right: 0;
		width: 100%;
		min-height: 100vh;
		position: fixed !important;
		align-items: center;
		flex-direction: column;
		#header-nav {
			text-align: center;
			width: 100%;
		}
		.nav-links {
			width: 100%;
			flex-direction: column;
			li {
				padding-bottom: 20px;
				margin-left: 0;
				display: inline-block;
				width: 100%;
				&:first-child {
					margin-top: 7.5rem;
				}
				border-bottom: 1px solid rgba($clr-white, 0.1);
				font-size: 16px;
				margin-top: 20px;
			}
		}
		// BIG SUBMENU
		.submenu-wrapper {
			// overflow-y: scroll;
			position: unset;
			display: none;
			padding: 0;
		}
		.submenu {
			position: unset;
			background: none;
			// z-index: 1000;
			* {
				width: unset;
			}
		}

		li.toggle-services:hover {
			.toggle-link {
				text-shadow: none;
			}
			img {
				transform: none;
			}
		}

		.submenu-top {
			flex-direction: column;
			height: auto;
		}
		.submenu-right {
			flex-direction: column;
		}
		.submenu-bottom {
			display: none;
			flex-direction: column;
		}

		.submenu-main {
			display: none;
			h1,
			h2,
			a {
				margin: 0;
				padding: 0;
				width: auto;
				color: $clr-white;
			}
			flex-direction: column;
		}

		.submenu-second-group {
			// overflow-y: auto;
			margin: 0;
			// height: fit-content;
		}

		.submenu-links {
			padding-bottom: 50vh;
			color: $clr-white;
			flex-direction: column;
			a:hover {
				text-shadow: none;
			}
		}
		.arrow--rotate {
			transform: rotate(180deg) translateY(1px) !important;
		}
		.bigMenu--active {
			display: block;
			visibility: visible;
			opacity: 1;
			transform: translate(0);
		}
		// END OF BIG SUBMENU
		.angle-down {
			width: 4rem;
		}
		.active-phone {
			display: none;
			margin-top: 7rem;
		}
		.phone-info {
			display: none;
			font-size: 9px;
		}
		.phone-number {
			font-size: 16px;
		}
	}

	.project-calculation {
		margin-top: 2rem;
	}
	.split-btn {
		.btn-split-left {
			border: none;
			font-size: 12px;
		}
		.btn-split-right {
			border: none;
			font-size: 12px;
		}
	}
	#header.header-active {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
	.burger-header {
		z-index: 7;
		right: 3%;
		position: fixed;
		display: block;
	}
	.split-btn {
		display: none;
	}
	.search-btn {
		// margin-top: -20rem;
		margin-top: -12rem;
		width: 20px;
	}
	#search-form {
		input {
			font-size: 14px;
			padding: 0 55rem 0 5%;
			transform: translateY(60%);
			height: 10vh;
			&::placeholder {
				font-size: 9px;
			}
		}
		button {
			font-size: 14px;
			transform: translate(-20%, 70%);
			padding: 3vh 15rem;
		}
	}
	li.toggle-clients {
		a {
			text-shadow: none !important;
		}
	}
}
