#header {
	display: flex;
	align-items: center;
	color: $clr-white;
}

.logo-info {
	display: flex;
}

.logo-text {
	width: 154px;
	font-weight: 400;
}

.nav-links {
	display: flex;
}

.submenu {
	display: none;
}

.dropdown-content {
	display: none;
}
