#header {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 3.7rem 5.2rem;
	color: $clr-white;
}

.logo-info {
	display: flex;
}

.logo {
	cursor: pointer;
	width: 7rem;
	img {
		width: 100%;
		height: auto;
	}
}

.logo-text {
	margin-left: 1.57rem;
	width: 11rem;
	line-height: 1.46rem;
	font-size: 1.07rem;
	font-weight: 400;
}

#header-nav {
	margin-left: 3.92rem;
}

.nav-links {
	display: flex;
	align-items: center;
	li {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		line-height: 1.36;
		letter-spacing: 0.15em;
		margin-left: 3.07rem;
		&:first-child {
			margin: 0;
		}
		white-space: nowrap;
		a:hover {
			text-shadow: 1px 2px 5px $clr-white;
		}
	}
}

// Submenu
.toggle-clients {
	position: relative;
	.clients-submenu {
		border-radius: 1rem;
		background: $clr-white;
		transform: translateY(-20%);
		position: absolute;
		transition: visibility 0s, transform 0.5s, opacity 0.8s ease-out;
		visibility: hidden;
		opacity: 0;
		line-height: 2.64rem;
		padding: 1.64rem 2.3rem;
		text-align: left;
		color: $clr-black;
		li {
			text-shadow: none;
			margin: 0 0 1.8rem 0;
			&:last-child {
				margin: 0;
			}
			a:hover {
				transition: all 0.1s ease-out;
				color: $clr-blue;
			}
		}
	}
	.submenu-wrapper {
		// display: block;
		width: 100%;
		height: auto;
		position: absolute;
		padding-top: 1rem;
	}
	img {
		transition: all 0.2s ease;
	}
	&:hover {
		display: block;
		a {
			transition: all 0.2s linear;
			text-shadow: 1px 2px 5px $clr-white;
		}

		img {
			transform: rotate(180deg) translateY(1px);
		}
		.clients-submenu {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
		}
	}
}

// end of Submenu

// search

.search-btn {
	margin-left: 3.92rem;
	min-width: 1.78rem;
	img {
		cursor: pointer;
		width: 100%;
		height: auto;
	}
}

.search-dropdown {
	position: absolute;
	left: 0;
	width: 100%;
	transform: translateY(-2rem);
	opacity: 0;
	visibility: hidden;
}

#search-form {
	margin-top: 4.3rem;
	display: flex;
	align-items: center;
	input {
		font-size: 1.3rem;
		position: absolute;
		outline: none;
		padding: 0.35rem 27.7rem;
		height: 5rem;
		width: 100%;
		&::placeholder {
			font-size: 1.3rem;
			color: rgba($clr-black, 0.3);
			text-transform: uppercase;
		}
	}
	button {
		font-size: 1.28rem;
		position: absolute;
		margin: 0 70%;
	}
}

.show {
	transition: all 0.3s linear;
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
//end of search

.toggle-phone {
	margin-left: 3.92rem;
}

.active-phone {
	white-space: nowrap;
}
.phone-info {
	font-size: 0.86rem;
	font-family: "Gilroy";
}

.phone-wrapper {
	display: flex;
	align-items: center;
	img {
		cursor: pointer;
	}
}

.phone-number {
	font-size: 1.7rem;
	font-weight: 600;
}
// phone-card
#phone-toggle-info,
#phone-toggle {
	transition: all 0.3s ease-out;
}

#header {
	.hide {
		opacity: 0;
		visibility: hidden;
	}
	.phone-card {
		transition: all 0.5s ease-out;
		visibility: hidden;
		opacity: 0;
		transform: translate(-2rem, -5rem);
		position: absolute;
		color: $clr-black;
		border-radius: 0.22rem;
		background: $clr-white;
		width: 18.36rem;
		height: 32.28rem;
		padding: 1.28rem 0 1.28rem 0;
		.phone-card-divider {
			height: 1px;
			background: rgba($clr-black, 0.1);
		}
		.phone-links {
			display: block;
		}
		.phone-info,
		.phone-number {
			color: $clr-black;
		}
		.msg-links {
			width: 90%;
			gap: 1rem;
		}
		.msg-link {
			border: none;
			padding: 0;
			font-size: 0.88rem;
			a {
				margin-left: 0.36rem;
			}
			img {
				width: 0.86rem;
				height: 0.86rem;
			}
		}
		.work-info {
			color: rgba($clr-black, 0.5);
			width: 71%;
			white-space: normal;
		}

		.belarus-work {
			width: 75%;
			margin-top: 0.5rem;
			background: $clr-belarus-bg;
			.belarus-info {
				margin-left: 0.5rem;
			}
			img {
				border-radius: 50%;
			}
		}
	}
	// end of phone-card
	.active {
		opacity: 1;
		visibility: visible;
	}

	.split-btn {
		margin-left: 3.92rem;
	}

	//
	.angle-down {
		width: 0.9rem;
		height: auto;
		margin-left: 0.36rem;
	}
	.submenu {
		display: none;
	}
}
