#intro {
	width: 100%;
	height: 68.5rem;
	background: url(../../dist/assets/img/intro-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $clr-white;
	@include container();
}

.intro-title {
	padding-top: 16rem;
	width: 40rem;
	font-size: 3.57rem;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.065em;
}

.intro-text {
	margin-top: 2.14rem;
	width: 39rem;
	font-size: 1.43rem;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.065em;
}

.intro-buttons {
	padding: 0;
	margin-top: 4.57rem;
	.btn {
		font-size: 1.28rem;
	}
	.btn-blue {
		padding: 2rem 5.5rem;
		transition: all 0.1s ease-out;
		&:hover {
			background: darken($clr-blue, 4);
		}
	}
	.btn-outline {
		margin-left: 1.78rem;
		color: $clr-white;
		padding: 2rem 2rem;
		backdrop-filter: blur(2px);
		transition: all 0.1s ease-out;
		&:hover {
			backdrop-filter: blur(5px);
		}
	}
}

.cards {
	margin-top: 8.28rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.card {
	box-shadow: 0px 6px 40px rgba($clr-black, 0.1);
	color: $clr-black;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 2.85rem;
	width: 23%;
	border-radius: 0.71rem;
	background: $clr-white;
	img {
		width: 2.28rem;
		height: auto;
	}
}

.card-text {
	margin-top: 1rem;
	line-height: 1.5;
}

.video {
	border-radius: 0 5px 5px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	position: absolute;
	left: 0;
	top: 40rem;
	width: 20rem;
	height: 14.4rem;
	background: url(/dist/assets/img/preview.png);
	img {
		cursor: pointer;
		width: 3.85rem;
		height: 3.85rem;
	}
}
.video-top-text {
	text-align: center;
	font-size: 1rem;
	border-bottom: 1px solid $clr-white;
}

.video-bottom-text {
	font-size: 1.21rem;
}
