#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5.6rem;

	.btn {
		padding: 2.14rem 3.14rem;
		margin-top: 3.4rem;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.projects-title {
	margin-top: 5.57rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 2.5rem;
	font-weight: 400;
}

.projects-subtitle {
	text-align: center;
	font-size: 1.57rem;
	margin-top: 2.42rem;
}
.projects-main {
	margin-top: 5.07rem;
	display: flex;
	flex-wrap: wrap;
}

.project-box {
	padding: 0;
	margin: 0;
	width: 20%;
	height: 20vw;
	img {
		width: 100%;
		height: 100%;
	}
}

.project-info {
	padding: 2.28rem;
	background: url(/dist/assets/img/projects-photo/info-projects.png);
	color: $clr-white;

	h2 {
		letter-spacing: 0.05em;
		line-height: 1.69;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.14rem;
	}

	h3 {
		margin-top: 1.78rem;
		// margin-bottom: 1.36rem;
		font-size: 1rem;
		font-weight: 500;
	}
	a {
		display: inline-block;
		margin-top: 0.71rem;
		margin-right: 0.71rem;
		font-size: 0.8rem;
		padding: 0.35rem 0.71rem;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 3px;
	}

	.works {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		p {
			margin-top: 0.71rem;
			font-weight: medium;
			color: rgba($clr-white, 0.5);
		}
	}

	.keys {
		margin-top: 1.4rem;
		display: flex;
	}

	.work-made {
		p {
			color: rgba($clr-white, 0.5);
		}
		margin-left: 2rem;
		h4 {
			margin-top: 0.71rem;
			font-size: 1.14rem;
			font-weight: 700;
		}
	}

	.work-time {
		p {
			color: rgba($clr-white, 0.5);
		}
		h4 {
			margin-top: 0.71rem;
			font-size: 1.14rem;
			font-weight: 700;
		}
	}
	button {
		cursor: pointer;
		margin-top: 2rem;
		color: $clr-white;
		padding: 0.5rem 1.4rem;
		border: 1px solid rgba($clr-white, 0.3);
		border-radius: 0.28rem;
	}
}
