#services-choice {
	@include container();
	height: 95rem;
	background: url(/dist/assets/img/services-choice-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $clr-white;
	padding-top: 6.92rem;
	padding-bottom: 7.64rem;
}

.service-choice-title {
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.14rem;
	font-weight: 400;
}

.service-choice-info {
	text-align: center;
	p {
		font-weight: 400;
		margin-top: 1rem;
		font-size: 1.21rem;
		// width: 38rem;
		letter-spacing: 0.04em;
		line-height: 1.65;
	}
}

.percent-icon {
	margin-top: 3.43rem;
	display: inline-block;
	text-align: center;
	width: 3.36rem;
	height: 3.36rem;
}

// Main box
.choice-box {
	display: flex;
	color: $clr-black;
	border-radius: 1rem;
	width: 100%;
	height: 57.36rem;
	background: $clr-white;
}

//Left part

.choice-left {
	// background: rgba(blue, 0.2);
	width: 50.86rem;
	height: 49.43rem;
	margin-left: 5.2rem;
	padding-top: 4.43rem;
	h1 {
		text-transform: uppercase;
		font-size: 1.7rem;
		font-weight: 700;
	}
	p {
		line-height: 1.47rem;
		font-weight: 400;
		font-size: 1.21rem;
		margin-top: 1.28rem;
	}
}

.choice-right {
}

.choice-right-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2.93rem;
	padding: 2rem 1.6rem;
	border-radius: 1rem;
	box-shadow: 0 0.43rem 2.86rem rgba($clr-black, 0.07);
	// background: rgba(red, 0.2);
	width: 21.14rem;
	height: 44.6rem;
}

.bonus-box {
	display: flex;
	align-items: center;
	padding: 0 1.43rem;
	font-size: 1rem;
	border-radius: 0.36rem;
	width: 100%;
	height: 5.71rem;
	border: 1px solid rgba($clr-black, 0.12);
	&:first-child {
		border: 1px solid rgba($clr-black, 0.1);
	}
	p {
		margin-left: 1rem;
		img {
			transform: translateY(0.2rem) translateX(0.2rem);
			width: 1rem;
			height: 1rem;
		}
	}
}

.choice-right-link {
	margin-top: 3.78rem;
	display: inline-block;
	border-bottom: 1px solid rgba($clr-black, 0.2);
	color: rgba($clr-black, 0.5);
}
