.btn {
	cursor: pointer;
	font-size: 1.1rem;
	display: inline-block;
	padding: 1rem 2rem;
	@include border-radius();
}

.btn-blue {
	background-color: $clr-blue;
	color: $clr-white;
	transition: all 0.1s ease-out;
	&:hover {
		background: darken($clr-blue, 4);
	}
}

.btn-outline {
	&:hover {
		background: $clr-blue;
		color: $clr-white;
	}
	transition: all 0.3s ease-out;
	background: transparent;
	border: 1px solid $clr-blue;
	color: $clr-blue;
}

//split btn
.split-btn {
	position: relative;
	white-space: nowrap;
	display: flex;
	align-items: center;

	img {
		margin: 0;
	}
}

.split-wrapper {
	transition: all 0.3s ease-out;

	&:hover {
		.dropdown-content {
			display: block;
			visibility: visible;
			opacity: 1;
		}
		visibility: visible;
	}

	visibility: hidden;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
	position: absolute;
	padding-top: 0.5rem;
}
.btn-split-left {
	padding: 1.14rem;
	color: $clr-white;
	display: inline-block;
	@include split-left-border;
}
.btn-split-right {
	transition: all 0.3s ease-out;
	position: relative;
	padding: 1.14rem;
	color: $clr-white;
	display: inline-block;
	@include split-right-border;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 10%;
		height: 80%;
		width: 1px;
		background: $clr-split-btn-divider;
	}
	i {
		transition: transform 0.2s ease-out;
	}
	.arrow-down {
		transform: rotate(180deg);
	}
	&:hover {
		i {
			transform: rotate(180deg);
		}
		&::before {
			display: none;
		}
		background: $clr-white;
		color: $clr-black;
	}
	&:hover ~ .split-wrapper {
		visibility: visible;
		.dropdown-content {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}
}

.active-right {
	&::before {
		opacity: 0;
	}
	background: $clr-white;
	color: $clr-black;
}
.dropdown-content {
	transition: all 0.3s ease-out;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 14.65rem;
	li {
		margin-top: 1.5rem;
		&:first-child {
			margin-top: 0.5rem;
		}
	}
	a {
		transition: all 0.3s ease-out;
		&:hover {
			color: $clr-blue;
		}
	}
	padding: 1rem 1.78rem;
	border-radius: 0.21rem;
	position: relative;
	background: $clr-white;
	color: $clr-black;
	visibility: hidden;
	opacity: 0;
}

.btn-arrow-outline {
	cursor: pointer;
	padding: 5px;
	border: 1px solid $clr-blue;
	@include border-radius();
	width: 4.28rem;
	height: 4.28rem;
	&:hover {
		opacity: 0.8;
	}
}

.arrow-left {
	background: url(dist/assets/icons/arrow-left.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
}

.arrow-right {
	background: url(dist/assets/icons/arrow-right.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
}
