.btn {
	cursor: pointer;
	font-size: 1.1rem;
	display: inline-block;
	padding: 1rem 2rem;
	@include border-radius();
}

.btn-blue {
	background-color: $clr-blue;
	color: $clr-white;
	transition: all 0.1s ease-out;
	&:hover {
		background: darken($clr-blue, 4);
	}
}

.btn-outline {
	&:hover {
		background: $clr-blue;
		color: $clr-white;
	}
	transition: all 0.3s ease-out;
	background: transparent;
	border: 1px solid $clr-blue;
	color: $clr-blue;
}

//split btn
.split-btn {
	white-space: nowrap;
	display: flex;
	align-items: center;

	img {
		margin: 0;
	}
}

.btn-split-left {
	padding: 1.14rem;
	color: $clr-white;
	display: inline-block;
	@include split-left-border;
}
.btn-split-right {
	padding: 1.14rem;
	color: $clr-white;
	display: inline-block;
	@include split-right-border;
}

.btn-split-divider {
}

.dropdown {
	// &:hover {
	// 	.dropdown-content {
	// 		display: block;
	// 	}
	// }
}

.btn-arrow-outline {
	cursor: pointer;
	padding: 5px;
	border: 1px solid $clr-blue;
	@include border-radius();
	width: 4.28rem;
	height: 4.28rem;
	&:hover {
		opacity: 0.8;
	}
}

.arrow-left {
	background: url(/dist/assets/icons/arrow-left.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
}

.arrow-right {
	background: url(/dist/assets/icons/arrow-right.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
}
