.person-card {
	white-space: nowrap;
	position: absolute;
	z-index: 4;
	margin: 5rem;
	.person-card-name {
		position: relative;
		z-index: 4;
		font-size: 1.28rem;
		font-weight: 500;
		color: $clr-black;
		padding: 1.43rem 2rem;
		background: $clr-white;
		box-shadow: 0px 0.28rem 0.71rem rgba($clr-black, 0.1);
		border-radius: 0.43rem;
	}
	.person-card-role {
		color: $clr-white;
		transform: translateY(-10%);
		margin-left: 10%;
		font-size: 0.86rem;
		font-weight: 400;
		text-align: center;
		width: 50%;
		background: $clr-blue;
		padding: 0.93rem 0.28rem;
		box-shadow: 0px 0.28rem 0.71rem rgba($clr-black, 0.1);
		border-radius: 0.43rem;
	}
}

//
.phone-card {
	color: rgba($clr-white, 0.5);
	border-radius: 0.71rem;
	background: $clr-semi-dark;
	width: 24.07rem;
	height: 30.28rem;
	padding: 1.78rem 0 1.78rem 0;
	.phone-card-divider {
		width: 100%;
		height: 1px;
		background: rgba($clr-white, 0.1);
	}
	.phone-links {
		display: none;
	}
	.active-phone {
		padding-left: 1.78rem;
	}
	.phone-wrapper {
		margin-top: 0.5rem;
		padding-bottom: 1.71rem;
		color: $clr-white;
	}
	.main-subtitle {
		padding-left: 1.78rem;

		margin-top: 1rem;
	}
	.msg-links {
		padding-left: 1.78rem;

		padding-bottom: 1.28rem;
		border-bottom: 1px solid rgba($clr-white, 0.1);
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.71rem;
	}

	.msg-link {
		border-radius: 7.14rem;
		border: 1px solid rgba($clr-white, 0.1);
		padding: 0.71rem 1rem;
		display: flex;
		a {
			margin-left: 0.43rem;
		}
		img {
			width: 1.1rem;
			height: 1.1rem;
		}
	}

	.adress-info {
		margin-top: 0.7rem;
		padding-left: 1.78rem;

		img {
			margin-top: 0.5rem;
			width: 1rem;
			height: 1.28rem;
		}
		display: flex;
		// align-items: center;
		.adress-text {
			margin-top: 0.5rem;
			margin-left: 0.5rem;
		}
	}
	.work-info {
		margin-top: 0.5rem;
		font-size: 0.86rem;
	}

	.belarus-work {
		margin-left: 1.78rem;

		width: 61%;
		border-radius: 7.14rem;
		background: $clr-dark;
		padding: 0.71rem 1rem;
		margin-top: 1.28rem;
		display: flex;
		.belarus-info {
			margin-left: 0.5rem;
		}
		img {
			border-radius: 50%;
		}
	}
}
